<div id="mainPanel">
  <div id="channelsPanel">
    <p>It seems like you have no friends... How sad...</p>
  </div>
  <div id="contentPanel">
    <p>Open a channel by selecting it on the left</p>
  </div>
  <div id="digestPanel">
    <p>News articles your friends sent you will show up here</p>
  </div>
</div>
