
<div id="navigationBar">

  <h1>Link it</h1>
<!--  <ul>
    <li>Link it</li>
    <li>Login</li>
    <li style="float-right">Logout</li>

  </ul>-->

</div>


<div id="mainPanel">



  <div id="channelsPanel">
    <p>It seems like you have no friends... How sad...</p>
  </div>
  <div id="contentPanel">
    <p>Open a channel by selecting it on the left</p>
  </div>
  <div id="digestPanel">
    <p>News articles your friends sent you will show up here</p>
  </div>
</div>
<div id="fader"></div>
<div id="loginDiv">
  <h1>Login</h1>
  <form action="/login" method="post" id="loginForm">
    <input name="email" placeholder="Email" type="text"/>
    <input name="password" placeholder="Password" type="password"/>
  </form>
  <button id="loginButton">Log In</button>
</div>
<div id="signupDiv"></div>
