<h1>Log In</h1>
<form action="/session" method="post" id="loginForm">
  <input name="email" placeholder="Email" type="text"/>
  <input name="password" placeholder="Password" type="password"/>
  <button type="submit">Log In</button>
</form>
<h1>Don't have an account ? Just sign up below!</h1>
